.searchbox {
  border: 1px solid cadetblue;
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.inputfield {
  width: 380px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
