.contact {
  display: flex;
  border: 1px solid cadetblue;
  border-radius: 10px;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn {
  color: black;
  background-color: #7ac7ea;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: none;
  outline: none;
  background-color: #75a9c1;
}
