.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid cadetblue;
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  gap: 10px;
}

.input {
  width: 380px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.label {
  align-self: flex-start;
}

.btn {
  color: black;
  background-color: #7ac7ea;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  border: none;
  outline: none;
  background-color: #75a9c1;
}

.error {
  color: tomato;
}
